@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


@keyframes page-turn-forward {
  from { transform: translateX(0%); }
  to { transform: translateX(-100%); }
}

@keyframes page-turn-backward {
  from { transform: translateX(-100%); }
  to { transform: translateX(0%); }
}

.page-turn-forward {
  animation: page-turn-forward 0.8s forwards;
}

.page-turn-backward {
  animation: page-turn-backward 0.8s forwards;
}